<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.email %> un nouveau participant viens d'etre ajouté à votre événement !</h1>
    <p>
      Son mail est le suivant : <%= @user.email %>.
    </p>

    <p> À très vite sur monsite.fr !
  </body>
</html>