
<% if user_signed_in? %>
<h2>Bonjour user n°<%= params[:id] %>, voici ta page profil</h2>

<h3>Voici tous les events que tu as créé :</h3>


<% Event.all.each do |event| %>
  <% if current_user.id == event.admin_id %>
   <p> Titre :<%= event.title %></p>
   <a class="btn btn-primary" href="<%= event_path(event.id)%>" >Détails</a>
  
   <% end %>
   <% end %>

<p><%= link_to 'Edit ton profile', edit_user_registration_path%></p>

<%else%>
<h1> Inscris toi pour voir ce contenu </h1>
<%end%>