<div class="col-lg-3 mb-4">
        <div class="list-group">
        <%= link_to "User", admin_admin_users_path, class:"list-group-item" %>
        <%= link_to "Events", admin_admin_events_path, class:"list-group-item" %>
      
        </div>