// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card 
{
  width: 400px;
  margin-left: auto;
  margin-right: auto;  
}

body 
{
  background-color: #fff7e6;
  padding-left: 10px;
}

#index
{
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
}